# TechService Pro — Variables de entorno
# Copia este archivo como .env y ajusta los valores

PORT=3000
JWT_SECRET=techservice_super_secret_2025_cambiame
JWT_EXPIRES_IN=24h
DB_PATH=./database/techservice.db
UPLOAD_PATH=./public/uploads
NODE_ENV=development
